# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages that Data Scientists use
- List of commonly used libraries used by Data Scientists
- Table of Data Science Tools
- Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SCALA
1. SQL
1. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. NumPy
1. Matplotlib
1. ggplot

| Data Science Tools |
| ----------- |
| Spark |
| Airflow |
| Jupyter |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Stjepan Vinski